<a href="https://colab.research.google.com/github/hitenbomble/BIG-DATA-/blob/main/Pattern_Programming_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **BIG DATA Assignment 1**
## **Hiten Bomble**
### **SIRSS2311**

**Starting of the Numericals**

In [ ]:
# 1. Code
n=int(input("Enter the Number of Rows: "))
# n=5
for i in range(n,0,-1):
  for j in range (0,i):
    print(n,end='')
  print()

Enter the Number of Rows: 5
55555
5555
555
55
5

In [ ]:
# 2. Code
n=int(input("Enter the Number of Rows: "))
# n=5
k=0
for i in range (n,0,-1):
  k+=1
  for j in range(0,i+1):
    print(j,end='')
  print(" ")

Enter the Number of Rows: 5
012345
01234
0123
012
01

In [ ]:
# 3. Code
n=int(input("Enter the Number of Rows: "))
# n=5
k=-1
for i in range (n):
  k+=2
  for j in range(i+1):
    print(k,end=' ')
  print(" ")

Enter the Number of Rows: 5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
# 4. Code
n=int(input("Enter the Number of Rows: "))
# n=5
for i in range(n+2):
  for j in range(i-1,0,-1):
    print(j,end=" ")
  print(' ')

Enter the Number of Rows: 5


1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
# 5. Code
n=int(input("Enter the numbers: " ))
start = 1
stop = 2
currentNumber = stop
for row in range(stop, n):
    for col in range(start, stop):
        currentNumber -= 1
        print(currentNumber , end=' ')
    print(" ")
    start = stop
    stop += row
    currentNumber = stop

Enter the numbers: 6
1
3 2
6 5 4
10 9 8 7

In [33]:
# 6. Code
# n=7
def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

size=int(input("Enter the number of Rows: " ))
for i in range(0, size):
    for j in range(0, i + 1):
        print(decide_number(i, j), end=" ")
    print()

Enter the number of Rows: 7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [ ]:
# 7. Code
rows=int(input("Enter the number of Rows: " ))
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print()

Enter the number of Rows: 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
# 8. Code
rows = int(input("Enter the number of rows "))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        # multiplication current column and row
        # square = i * j
        print(i * j, end=' ')
    print()

Enter the number of rows 8
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

**Starting For the Stars (*)**

In [ ]:
# 9. Code
n=int(input("Enter the Number of Rows"))
# n=6
for i in range(n,0,-1):
  for j in range (0,i):
    print("*",end="")
  print()

Enter the Number of Rows6
******
*****
****
***
**
*

In [ ]:
# 10. Code
n= int(input("Enter the number of rows "))
# n=7
for i in range (0,n):
  for j in range (0,i+1):
    print("*", end="")
  print()

Enter the number of rows 7
*
**
***
****
*****
******
*******

In [ ]:
# 11. Code
n=int(input("Enter the Number of Rows"))
# n=6
for i in range(0,n):
  for j in range (0,i+1):
    print("*",end="")
  print()
print('')
for i in range(n,0,-1):
  for j in range (0,i):
    print("*",end="")
  print()

Enter the Number of Rows6
*
**
***
****
*****
******

******
*****
****
***
**
*

In [ ]:
# 12. Code
n=int(input("Enter the Number of Rows"))
# n=5
for i in range(0,n):
  for j in range (0,i):
    print("*",end="")
  print()
for i in range(n,0,-1):
  for j in range (0,i):
    print("*",end="")
  print()

Enter the Number of Rows5

*
**
***
****
*****
****
***
**
*

In [ ]:
# 13. Code
n=int(input("Enter the Number of Rows"))
# n=5
for i in range(0,n):
  for j in range (0,i):
    print("*",end="")
  print()
for i in range(n,0,-1):
  for j in range (0,i):
    print("*",end="")
  print()

Enter the Number of Rows5

*
**
***
****
*****
****
***
**
*

In [ ]:
# 14. Code
n=int(input("Enter the Number of Rows"))
# n=6
for i in range(0,n):
  for j in range (0,i):
    print("*",end="")
  print()
for i in range(n,0,-1):
  for j in range (0,i):
    print("*",end="")
  print()n = int(input("Enter the number of rows "))
# n=5
for i in range(n,0,-1):
  for j in range (0,i):
    print("*",end="")
  print()
for i in range(0,n):
  for j in range (0,i+1):
    print("*",end="")
  print()

Enter the number of rows 5
*****
****
***
**
*
*
**
***
****
*****

In [ ]:
# 15. Code
n=int(input("Enter the Number of Rows"))
# n=6
for i in range(0,n):
  for j in range (0,i):
    print("*",end="")
  print()
for i in range(n,0,-1):
  for j in range (0,i):
    print("*",end="")
  print()
rows = int(input("Enter the number of rows "))
# rows=16
print("*" * rows, end="\n")
# print()
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i-=1
        j+=2

Enter the number of rows 16
****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*

In [ ]:
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
def printPattern(n) : 
    j, k = 0, 0
    for i in range(1, n + 1) :
        if i % 2 != 0 :
            for j in range(k + 1, k + i) :
                print(j,end = "")
            j = k + i
            print(j)
            j += 1
            k = j
        else :
            k = k + i - 1
            for j in range(k, k - i + 1, -1) :
                print(j, end = "")
            j = k - i + 1
            print(j)
if __name__ == "__main__" :
    n = 5
    printPattern(n)

1
32
456
10987
1112131415